<div class="display">
  <div [class.loading]="loading" [class.results-loaded]="result">
    <h1 id="title">FINAL FANTASY XIV | Name Search</h1>
    <form (ngSubmit)="checkAvailability()">
      <label for="characterQuery" class="visually-hidden">Character Name</label>
      <input
        id="characterQuery"
        type="text"
        name="query"
        placeholder="John Doe"
        [(ngModel)]="query"
        (ngModelChange)="onInputChange()"
        [ngClass]="{
          'valid-border': isValid === true,
          'invalid-border': isValid === false
        }"
        required
      />
      <button type="submit" [disabled]="loading || isValid === false">
        {{ loading ? "Checking..." : "Check Availability" }}
      </button>
    </form>
    <div *ngIf="loading" class="loading-spinner"></div>
  </div>
  <div class="results-container" *ngIf="result || error">
    <div *ngIf="error" class="error-message">{{ error }}</div>
    <app-character-availability-table
      *ngIf="result"
      [data]="result"
    ></app-character-availability-table>
  </div>
</div>
