<div *ngIf="sortedData.length > 0" class="table-container">
  <table aria-label="Character Availability Table">
    <thead>
      <tr>
        <th
          scope="col"
          appTooltip="Sort by Region"
          (click)="sortTable('region')"
          class="sortable-header"
        >
          Region{{ getSortIndicator("region") }}
        </th>
        <th
          scope="col"
          appTooltip="Sort by Data Center"
          (click)="sortTable('dc')"
          class="sortable-header"
        >
          Data Center{{ getSortIndicator("dc") }}
        </th>
        <th
          scope="col"
          appTooltip="Sort by World"
          (click)="sortTable('world')"
          class="sortable-header"
        >
          World{{ getSortIndicator("world") }}
        </th>
        <th
          scope="col"
          appTooltip="Sort by Availability"
          (click)="sortTable('available')"
          class="sortable-header"
        >
          Available{{ getSortIndicator("available") }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        id="availability-row"
        *ngFor="let item of filteredData"
        [ngStyle]="{ 'background-color': item.color }"
        (click)="openCharacterPage(item.world)"
        [appTooltip]="
          'View in Lodestone for ' + item.world + ' in ' + item.region
        "
      >
        <td>{{ item.region }}</td>
        <td>{{ item.dc }}</td>
        <td>{{ item.world }}</td>
        <td [ngClass]="{ available: item.available }">
          {{ item.available ? "Yes" : "No" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="filter-container">
  <input
    type="text"
    placeholder="Filter by World or Data Center"
    [(ngModel)]="filterQuery"
    (ngModelChange)="onFilterChange($event)"
    class="filter-input"
  />
</div>
