/**
  * Global styles for the application
  */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: #f4f4f9;
  -webkit-font-smoothing: antialiased;
}

/**
  * FFXIV Font
  */

@font-face {
  font-family: "PencilFont";
  src: url("../public/OPTIEngeEtienne.otf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PencilFont", sans-serif; /* Ensure headings use the custom font */
  letter-spacing: 0.025rem;
  word-spacing: 0.1rem;
  font-weight: 700;
}

input,
textarea,
select,
button,
body {
  font-family: "Roboto", sans-serif; /* Ensure all other text uses the default font */
}

/**
  * Background
  */

.body-background {
  background-image: url("../public/ffxiv_background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/**
  * Smooth global transitions
  */

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out; /* Applies to all properties by default */
}

a,
button,
input,
textarea {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

a:hover,
button:hover {
  transform: translateY(-2px); /* Adds a slight "lift" effect */
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
  outline: none;
}
